# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
build/
.next/
out/
coverage/
.turbo/

# env files
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# misc
*.tsbuildinfo
ngrok.yml
